{%extends 'base.html'%}

{%block content %}
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">

    <script>
        document.querySelector('#chat-log').value = ""
        {% for message_event in message_and_event_list%}
            document.querySelector('#chat-log').value += (`{{message_event}}` + '\n');
        {%endfor%}
    </script>
        
    <h3>Group Members</h3>
    <ul id="members">
    {% for member in group_members%}
        <li id="members-{{member.username}}">{{member}}</li>
    {%endfor%}
        </ul>
{%endblock content%}

{%block script%}
<script>

base_url = `${window.location.host}${window.location.pathname}`
console.log(base_url)
const chatSocket = new WebSocket(`ws://${base_url}`);


chatSocket.onopen = function(e){
    console.log("connexted")
}
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data)
            document.querySelector('#chat-log').value += (data.message + '\n');
            status = data.status
            user = data.user

            if (status == "Left"){

                document.getElementById(`members-${user}`).remove()
            }else if(status == "Join"){
                var members_list = document.getElementById('members')
                var members_item = document.createElement("li")
                members_item.innerHTML = user
                members_item.setAttribute("id", `members-${user}`)
                
                console.log(members_item)
                members_list.appendChild(members_item)
            }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'type':"text_message",
                "author":`{{request.user}}`,
                'message': message
            }));
            messageInputDom.value = '';
        };
    

</script>
{%endblock script%}
</html>
