<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1 style="margin-top: 3px;">DiscusIt Home Page</h1>
    <ul>
        {%for group in groups%}
        <div id="{{group.uuid}}">
            <li><a>{{group.name}}</a></li>
            {% if request.user in group.members.all%}
                <button  id="leave-{{group.uuid}}" class="group_option" value="leave_group {{group.uuid}}">Leave</button>
            {%else%}
                <button id="join-{{group.uuid}}" class="group_option" value="join_group {{group.uuid}}">Join</button>
            {%endif%}
            {% if request.user in group.members.all%}
                <button  id="open-{{group.uuid}}" class="group_option" value="open_group {{group.uuid}}">Open</button>
            {%endif%}
        </div>
        {%endfor%}


  
    </ul>
</body>
<script>

base_url = `${window.location.hostname}:${window.location.port}/`

const websocket = new WebSocket(`ws://${base_url}`)



function add_event_to_all_buttons(){
    /*Add event listener that send the event message to all buttons*/
    const keys = document.querySelectorAll('.group_option');
    keys.forEach(item => {
    item.addEventListener('click', send_event_message)
    }
)}
    
    
function send_event_message(event){
        /*Send the uuid and the value of the button that was clicked*/
        const { target } = event;
        group =target.value.split(" ")
        group_uuid = group[1]
        action = group[0] //Leave or Join or Open
        if(action == "open_group"){
            window.location.replace(`http://${base_url}groups/${group_uuid}`)
        }
        else{
            data = {
                "type":action,
                "data":group_uuid,
            }
            websocket.send(JSON.stringify(data))
    }
    }
 add_event_to_all_buttons()

 
websocket.onopen = function(event){
    console.log("Connection Open")
    
}

websocket.onmessage = function(event){
    /*Called when the websocket server send a message to the client websocket*/
    message = JSON.parse(event.data)
    type = data.type
    data = message.data
    switch(type){
        case "leave_group":
            leave_group_handler(data)
            break;
        case "join_group":
            join_group_handler(data)
            break;
    }
}


function leave_group_handler(uuid){
    /*Remove the Leave Button and Open button and create a new Join Button*/
    var leave_button = document.getElementById(`leave-${uuid}`)
    var open_button = document.getElementById(`open-${uuid}`)
    leave_button.remove()
    open_button.remove()
    var button = `<button id="join-${uuid}" class="group_option" value="join_group ${uuid}">Join</button>`
    var dev_body = document.getElementById(uuid)
    dev_body.innerHTML += button
    add_event_to_all_buttons()
}


function join_group_handler(uuid){
    /*Remove the Join Button and add the Leave and Open button*/
    var leave_button = document.getElementById(`join-${uuid}`)
    leave_button.remove()
    var button = `<button id="leave-${uuid}" class="group_option" value="leave_group ${uuid}">Leave</button>`
    var open_button = `<button id="open-${uuid}" class="group_option" value="open_group ${uuid}">Open</button>`

    var dev_body = document.getElementById(uuid)
    dev_body.innerHTML += button
    dev_body.innerHTML += open_button
    add_event_to_all_buttons()

    //get_all_buttons()
}
/*
function contruct_join_button(uuid){
    construct a join button 
    var button = document.createElement("button")
    button.innerHTML = "leave-{{uuid}}"
    button.id = 
}
*/
</script>



</html>